# Elastic Beanstalk 환경을 구성하는 설정 파일
# 배포 시 실행될 스크립트나 명령어를 정의
# (appstart 명령어의 실제 구현(스크립트)이자 실행될 내용)
files:
    "/sbin/appstart" :
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            JAR_PATH=/var/app/current/application.jar

            # run app
            killall java
            java -Dfile.encoding=UTF-8 -jar $JAR_PATH
